<h2>Wallet Generation<small> Click 'continue' after creating your wallet</small> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button class="btn btn-primary btn-outline btn-lg btn-rounded" ng-click="redirect()">Continue</button></h2> 
<br>
<iframe src="/views/wallet/generate-wallet.html" height="630" width="100%" frameborder="0" style="border:0" allowfullscreen></iframe>